// Cria nosso tema
$my-color-1: #00a1ff;
$my-color-2: #e2711d;
$my-color-3: #ffcd8a;
$my-color-4: #ffb627;
$my-color-5: #e65f5c;

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5

);

// classes personalizadas
$link-color: $my-color-5;


// importa o bootsrap
@import "node_modules/bootstrap/scss/bootstrap";